extends layout_admin

block content
    h3 Каталог
    p
        | Небольшое описание, если нужно
    table.table.table-bordered
        thead
            tr
                th id
                th Дата добавления
                th Тип
                th Стоимость
                th Адрес
                th Действия
        tbody
        - for(var x = 0; x <catalogue.length; x++)
            tr
                td
                    #{x + 1}
                td
                    #{catalogue[x].createdAt.toISOString().replace(/T/, ' ').replace(/\..+/, '')}
                td
                    #{catalogue[x].tradeType}
                td
                    #{catalogue[x].price}
                td
                    #{catalogue[x].nameOfStreet + ", " + catalogue[x].buildingNum}
                td
                    button.btn.btn-default.btn-lg(type='button')
                        a(href='#')
                            i.fa.fa-eye
                    button.btn.btn-default.btn-lg(type='button')
                        a(href='#')
                            i.fa.fa-pencil
                    button.btn.btn-default.btn-lg(type='button')
                        a(href='#')
                            i.fa.fa-remove
